@keyframes spinnerAnimation {
  from {
    transform: rotate(0) scale(0.25);
  }
  to {
    transform: rotate(-1turn) scale(1);
  }
}

.isAnimated {
  border-radius: 50%;
  animation: spinnerAnimation 1.5s infinite alternate-reverse;
}
