.navElement {
  line-height: 0.7;
  font-size: clamp(1.1rem, 1vw, 1.5rem);
  transition: opacity 700ms ease;
	user-select: none;
}
.navElement:hover {
  opacity: 0.75;
}

.isActive {
	border-bottom: 2px solid var(--msbi-primary);
}
