.navBrand {
  width: max-content;
  line-height: 0.6;
  border-radius: 1rem;
  font-weight: bold;
	user-select: none;
  color: var(--msbi-default);
  font-size: clamp(1.2rem, 2vw, 2rem);
  transition: opacity 700ms ease;
}
.navBrand:hover {
  opacity: 0.75;
}

.navBrand::first-letter {
  color: var(--msbi-primary);
}
