.navList {
  width: max-content;
  margin: 0 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* sm */
@media (width < 640px) {
  .navList {
    display: none;
  }
}
