.errorMessageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.message {
  font-size: clamp(1.25rem, 2vw, 2vw);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--msbi-primary);
  font-size: clamp(1.25rem, 1.5vw, 2vw);
  transition: opacity 500ms ease-in-out;
}
.link:hover {
  opacity: 0.75;
}

.image {
  width: 20rem;
}

/* sm */
@media (width < 640px) {
  .message {
    font-size: 1.5rem;
  }

  .link {
    font-size: clamp(1.25rem, 2vw, 2vw);
  }
}
